a {
  color: #B53737; /* color links red */
}

/* Top bar colors*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#B53737;
    }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color:#B53737;
    }

/* TOC colors */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:white;
    background-color:#B53737;
    }
.nav-pills > li > a:hover {
  color:black
}
.nav-link-color {
  color: #ffffff;
}
